
.fa-star{
  margin: 0.5em;
  font-size: 24px;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #a94442;
}
span{
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.selected{
  background-color: red;
  color: black;
  cursor: not-allowed;

}
.used{
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}